<md-dialog ng-controller="AppCtrl" >
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <p class= "poptitle">Modifier l'exception globale</p>
        <span flex></span>
        <!-- <md-button class="md-icon-button" >

        </md-button> -->
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="padding:0!important">

    <div  class="col"  style="min-height: 340px;min-width: 600px;padding :0;" >
      <!-- <input ng-model ="tmp_event.start._i"/> -->
    <div class="row">
      <div class="col col-33" style="padding: 27px 0 0 12px ;min-width:50px;font-size:16px">Nom de l'exception  </div>
      <!-- <input datetime-picker ng-model="model" /> -->
      <div class="col" style="padding:20px 0 0 10px;font-weight:600;font-size:16px">
        <!-- <input style="padding-left:5px;width:350px;" ng-model ="tmp_EG.nom"/> -->
        <md-input-container style="padding-left:5px;width:350px;margin:0;">
        <label>Nom de l'exception</label>
        <input ng-model="tmp_EG.nom" required>
      </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col col-33" style="padding: 8px 0 0 12px ;min-width:50px;font-size:16px">Description  </div>
      <!-- <input datetime-picker ng-model="model" /> -->
      <div class="col" style="padding:0px 0 0 8px;font-weight:600;font-size:16px">
          <!-- <input style="padding-left:5px;width:350px;" ng-model ="tmp_EG.description"/> -->
          <md-input-container style="padding-left:5px;width:350px;margin:0;">
          <label>Description</label>
          <input ng-model="tmp_EG.description" required>
          </md-input-container>
        </div>
    </div>

    <div class="row">
      <div class="col col-33" style="padding: 5px 0 0 12px ;min-width:50px;font-size:16px">Un jour</div>
      <div class="col" style="padding:5px 0 0 17px;font-weight:600;font-size:16px">
        <md-checkbox ng-model="JourSeulSelected" ng-checked="tmp_EG.dateDebut==tmp_EG.dateFin" ng-change="JourSeul()" class="indigo" style="margin:0;"></md-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col col-33" style="padding: 27px 0 0 12px ;min-width:50px;font-size:16px">Jour Début  </div>
      <!-- <input datetime-picker ng-model="model" /> -->
      <div class="col"  style="padding:14px 0 0 0px;font-weight:600;font-size:16px">
        <md-datepicker ng-model="tmp_EG.dateDebut" md-placeholder="Date Début" md-open-on-focus></md-datepicker></div>
    </div>

    <div class="row">
      <div class="col col-33" style="padding: 27px 0 0 12px ;min-width:50px;font-size:16px">Jour Fin  </div>
      <!-- <input datetime-picker ng-model="model" /> -->
      <div class="col"  style="padding:14px 0 0 0px;font-weight:600;font-size:16px">
        <md-datepicker ng-disabled="JourSeulSelected" ng-model="tmp_EG.dateFin" md-placeholder="Date Fin" md-open-on-focus></md-datepicker>
        <!-- <md-datepicker ng-show="!JourSeulSelected" ng-model="tmp_EG.dateFin" md-placeholder="Date Fin" md-open-on-focus></md-datepicker> -->
        </div>
  </div>

    <div class="row">
      <div class="col col-33" style="padding: 27px 0 0 12px ;min-width:50px;font-size:16px">Répétition annuelle   </div>
      <div class="col" style="padding:27px 0 0 17px;font-weight:600;font-size:16px">
        <md-checkbox ng-model="tmp_EG.repetitionAnnuel" class="indigo" style="margin:0;"></md-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col col-33" style="padding: 27px 0 0 12px ;min-width:50px;font-size:16px">Vacances </div>
      <div class="col" style="padding:27px 0 0 17px;font-weight:600;font-size:16px">
        <md-checkbox ng-model="tmp_EG.vacances" class="indigo" style="margin:0;"></md-checkbox>
      </div>
    </div>


    <div class="row">

     </div>

     <div class="row">

     </div>


        </div>


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!-- <md-button ng target="_blank" md-autofocus>
        More on Wikipedia
      </md-button> -->
      <span flex></span>
      <md-button ng-click="Close_Edit_EG()">Annuler</md-button>
      <md-button ng-disabled="!tmp_EG.nom" ng-click="Edit_EG_Apply(tmp_EG)" md-autofocus>Modifier</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
